DeLaSalle.Practica1.App/obj/DeLaSalle.Practica1.App.csproj.nuget.dgspec.json
DeLaSalle.Practica1.App/obj/DeLaSalle.Practica1.App.csproj.nuget.g.props
DeLaSalle.Practica1.App/obj/DeLaSalle.Practica1.App.csproj.nuget.g.targets
DeLaSalle.Practica1.App/obj/project.assets.json
DeLaSalle.Practica1.App/obj/project.nuget.cache
DeLaSalle.Practica1.App/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
DeLaSalle.Practica1.App/obj/Debug/net6.0/apphost.exe
DeLaSalle.Practica1.App/obj/Debug/net6.0/DeLaSalle.Practica1.App.AssemblyInfo.cs
DeLaSalle.Practica1.App/obj/Debug/net6.0/DeLaSalle.Practica1.App.AssemblyInfoInputs.cache
DeLaSalle.Practica1.App/obj/Debug/net6.0/DeLaSalle.Practica1.App.assets.cache
DeLaSalle.Practica1.App/obj/Debug/net6.0/DeLaSalle.Practica1.App.csproj.AssemblyReference.cache
DeLaSalle.Practica1.App/obj/Debug/net6.0/DeLaSalle.Practica1.App.csproj.CopyComplete
DeLaSalle.Practica1.App/obj/Debug/net6.0/DeLaSalle.Practica1.App.csproj.CoreCompileInputs.cache
DeLaSalle.Practica1.App/obj/Debug/net6.0/DeLaSalle.Practica1.App.csproj.FileListAbsolute.txt
DeLaSalle.Practica1.App/obj/Debug/net6.0/DeLaSalle.Practica1.App.dll
DeLaSalle.Practica1.App/obj/Debug/net6.0/DeLaSalle.Practica1.App.GeneratedMSBuildEditorConfig.editorconfig
DeLaSalle.Practica1.App/obj/Debug/net6.0/DeLaSalle.Practica1.App.genruntimeconfig.cache
DeLaSalle.Practica1.App/obj/Debug/net6.0/DeLaSalle.Practica1.App.GlobalUsings.g.cs
DeLaSalle.Practica1.App/obj/Debug/net6.0/DeLaSalle.Practica1.App.pdb
DeLaSalle.Practica1.App/obj/Debug/net6.0/ref/DeLaSalle.Practica1.App.dll
DeLaSalle.Practica1.App/obj/Debug/net6.0/refint/DeLaSalle.Practica1.App.dll
DeLaSalle.Practica1.App/bin/Debug/net6.0/DeLaSalle.Practica1.App.deps.json
DeLaSalle.Practica1.App/bin/Debug/net6.0/DeLaSalle.Practica1.App.dll
DeLaSalle.Practica1.App/bin/Debug/net6.0/DeLaSalle.Practica1.App.exe
DeLaSalle.Practica1.App/bin/Debug/net6.0/DeLaSalle.Practica1.App.pdb
DeLaSalle.Practica1.App/bin/Debug/net6.0/DeLaSalle.Practica1.App.runtimeconfig.json
DeLaSalle.Practica1.App/bin/Debug/net6.0/DeLaSalle.Practica1.Core.dll
DeLaSalle.Practica1.App/bin/Debug/net6.0/DeLaSalle.Practica1.Core.pdb
DeLaSalle.Practica1.Core/bin/Debug/net6.0/DeLaSalle.Practica1.Core.deps.json
DeLaSalle.Practica1.Core/bin/Debug/net6.0/DeLaSalle.Practica1.Core.dll
DeLaSalle.Practica1.Core/bin/Debug/net6.0/DeLaSalle.Practica1.Core.pdb
DeLaSalle.Practica1.Core/obj/DeLaSalle.Practica1.Core.csproj.nuget.dgspec.json
DeLaSalle.Practica1.Core/obj/DeLaSalle.Practica1.Core.csproj.nuget.g.props
DeLaSalle.Practica1.Core/obj/DeLaSalle.Practica1.Core.csproj.nuget.g.targets
DeLaSalle.Practica1.Core/obj/project.assets.json
DeLaSalle.Practica1.Core/obj/project.nuget.cache
DeLaSalle.Practica1.Core/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
DeLaSalle.Practica1.Core/obj/Debug/net6.0/DeLaSalle.Practica1.Core.AssemblyInfo.cs
DeLaSalle.Practica1.Core/obj/Debug/net6.0/DeLaSalle.Practica1.Core.AssemblyInfoInputs.cache
DeLaSalle.Practica1.Core/obj/Debug/net6.0/DeLaSalle.Practica1.Core.assets.cache
DeLaSalle.Practica1.Core/obj/Debug/net6.0/DeLaSalle.Practica1.Core.csproj.AssemblyReference.cache
DeLaSalle.Practica1.Core/obj/Debug/net6.0/DeLaSalle.Practica1.Core.csproj.CoreCompileInputs.cache
DeLaSalle.Practica1.Core/obj/Debug/net6.0/DeLaSalle.Practica1.Core.csproj.FileListAbsolute.txt
DeLaSalle.Practica1.Core/obj/Debug/net6.0/DeLaSalle.Practica1.Core.dll
DeLaSalle.Practica1.Core/obj/Debug/net6.0/DeLaSalle.Practica1.Core.GeneratedMSBuildEditorConfig.editorconfig
DeLaSalle.Practica1.Core/obj/Debug/net6.0/DeLaSalle.Practica1.Core.GlobalUsings.g.cs
DeLaSalle.Practica1.Core/obj/Debug/net6.0/DeLaSalle.Practica1.Core.pdb
DeLaSalle.Practica1.Core/obj/Debug/net6.0/ref/DeLaSalle.Practica1.Core.dll
DeLaSalle.Practica1.Core/obj/Debug/net6.0/refint/DeLaSalle.Practica1.Core.dll
